* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.9px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  background: #f3f3f3;
  letter-spacing: 0.03rem;
}

.custome_radio {
  margin: 0;
}

.custome_radio:checked,
.custome_radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custome_radio:checked + label,
.custome_radio:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 0px;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 0.03rem;
  font-weight: bold;
  color: #ffffff;
}

.custome_radio:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background: transparent;
}

.custome_radio:checked + label:before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 14px;
  height: 14px;
  border: 2px solid #45668f;
  border-radius: 100%;
  background: #fff;
}

.custome_radio:checked + label:after,
.custome_radio:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #00aeef;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
}

.custome_radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custome_radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.active_custome_radio {
  background: #3a587a;
  border-radius: inherit;
}

.dF {
  display: flex;
}

.pr {
  position: relative;
}

.ipl {
  padding-left: 4px;
}

.ipr {
  padding-right: 4px;
}

.pl10 {
  padding-left: 10px;
}
.homepage-header {
  display: flex;
  background: #ffffff;
  height: 45px;
  width: 100%;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #a4a4a4;
  box-shadow: 0 -1px 15px 0 rgb(0 0 0 / 20%);
}

.homepage-menu-icon {
  padding: 5px 3px;
}

.homepage-menu-bar {
  background: #44678f;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
}

.homepage-heading {
  color: #44678f;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
}

.form-container {
  background: #44678f;
  height: 350px;
  padding: 10px 17px 10px 17px;
  margin-top: 45px;
}

.form-input-wrap {
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.widthTxt {
  width: 87%;
}

.widthBtn {
  width: 13%;
}

.form-input {
  padding: 17px 7px 16px 7px;
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 48px;
}

.opname .form-input {
  border-radius: 5px 0px 0px 5px;
}

.call-type-input-wrap {
  width: 100%;
  height: 48px;
  border: solid 1px #a2b3c7;
  display: flex;
  border-radius: 5px;
}
.call-type-input {
  padding: 13px 5px 13px 13px;
}
.call-type-brd {
  border-left: solid 1px #a2b3c7;
  border-right: solid 1px #a2b3c7;
}

.start-date svg {
  position: absolute;
  right: 3px;
  top: 15px;
}

.triangleshape {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #666666;
  margin-bottom: 6px;
  position: absolute;
  top: 20px;
  right: 4px;
}

.opname .triangleshape {
  right: 10px;
}

.duration .triangleshape {
  right: 6px;
}

.starttime .triangleshape {
  right: 10px;
}

.btn-operator {
  border-radius: 0px 5px 5px 0px;
  background: #f9aa33;
  width: 100%;
  border: none;
  height: 48px;
  color: #fff;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-operator::before {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  border: solid #fff;
  border-width: 3px 3px 0 0;
  transform: rotate(45deg);
}

.btnSave {
  background: #f9aa33;
  border: none;
  padding: 17px 0px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 49px;
}

.result-container {
  padding: 15px 15px 18px 15px;
  display: flex;
  width: 100%;
  color: #434343;
}

.result-list {
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #aaa;
}

.row-data {
  padding: 17px 10px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 48px;
}

.row-data:first-child {
  border-radius: 10px 10px 0 0;
}
.row-data:last-child {
  border-radius: 0 0 10px 10px;
}

.row-data:nth-child(even) {
  background: #f6f7f9;
}

.title {
  width: 80%;
  font-weight: bold;
}

.link {
  width: 20%;
  font-weight: bold;
  color: #44678f;
  position: relative;
  display: flex;
  align-items: center;

  justify-content: right;
  padding-right: 12px;
}

.link::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border: solid #44678f;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  right: 2px;
}

.link a {
  color: #44678f;
  text-decoration: none;
  font-size: 11px;
}

.txtsmall {
  color: #828282;
  font-weight: 500;
  font-size: 11px;
}

/* GPS Opportunity Page CSS */
.page-header {
  display: flex;
  background: #3e5c80;
  height: 53px;
  width: 100%;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.page-back-icon {
  padding: 3px 3px;
}

.page-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
}

.page-content {
  margin-top: 53px;
}

.page-tabs {
  display: flex;
  width: 100%;
  box-shadow: 0px 1px 5px #aaa;
}

.page-tab {
  width: 50%;
  background: #44678f;
  padding: 13px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: solid 4px #44678f;
}

.page-tab.active {
  border-bottom: solid 4px #f9aa33;
}

.page-tabs-content {
  margin: 0;
  padding: 0;
}

.write-comment {
  display: block;
  background: #ffffff;
  width: 100vw;
  height: 76vh;
}

.write-comment form {
  height: inherit;
}

.taComment {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
}

.view-details {
  display: none;
  margin-top: 3px;
}

.btnSubmit {
  background: #f9aa33;
  border: none;
  padding: 17px 0px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
}

.gps-details-heading {
  background: #f2fafd;
  font-weight: 600;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  color: #404040;
}

.view-details .data-row {
  display: flex;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.view-details .data-row:hover {
  background: #f2fafd;
}

.view-details .data-col1 {
  width: 20%;
  text-align: left;
  padding: 4px 0px 4px 0px;
}

.view-details .data-col2 {
  width: 23%;
  text-align: left;
  padding: 4px 0px 4px 0px;
}

.view-details .data-col3 {
  width: 37%;
  text-align: left;
  padding: 4px 0px 4px 0px;
}

.view-details .data-col4 {
  width: 20%;
  text-align: right;
  padding: 4px 0px 4px 0px;
}

.gps-details-container {
  padding: 5px 10px;
  background: #fff;
  border-radius: 0 0 7px 7px;
  box-shadow: 0px 1px 1px #ccc;
  font-size: 11px;
}

.gps-green-box {
  background: #1fb14c;
  color: #fff;
  padding: 2px 5px 2px 5px;
}

.gps-red-box {
  background: #ff5a5e;
  color: #fff;
  padding: 2px 5px 2px 5px;
}

/* Commercial Page CSS */

.commercial-details-block1 {
  border: solid 1px #e7e7e7;
  height: 315px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0px 1px 1px #ccc;
}

.commercial-details-block1-heading {
  background: #f2fafd;
  font-weight: 600;
  padding: 12px 12px 12px 12px;
  color: #404040;
}

.commercial-details-block1-data {
  background: #fff;
  padding: 12px 12px 12px 12px;
  display: flex;
  justify-content: space-between;
}

.commercial-details-block1-line {
  padding: 0px 12px 0px 12px;
  background: #fff;
}

.border-line {
  border-bottom: solid 1px #d9d9d9;
}

.data-wrap {
  width: 100%;
  display: flex;
}

.data-wrap-left {
  width: 80%;
}

.data-wrap-right {
  width: 20%;
  text-align: right;
}
